*{
    margin: 0px;
}
.container{
    height: 100vh;
    width: 100%;
}
.M端sli-big{
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url(M端sli2.jpg);
    background-position: center;
    background-size: 100% 130%;
    background-repeat: no-repeat;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  @media screen and (max-width: 530px){
    .M端sli-big{
      background-size: 200% 130%;
      background-position: center;
    }
  }
  @media screen and (max-width: 340px){
    .M端sli-big{
      background-size: 300% 130%;
      background-position: center;
    }
  }